<h1><%= @artist.name %></h1>
<p>
  <img src="<%= @artist.image_url %>", width: "300", height = "300"><br>
  <%= link_to "Profile Page", @artist.profile_url %><br>
  <%= form_for(ArtistUser.new) do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :artist_id, :value => @artist.id %>
      <%= f.submit "Follow" %>
  <% end %>
</p>

<p>
  Top Tracks:<br>
  <% @spotify_info.top_tracks("US").each.with_index(1) do |track, i| %>
    <%= image_tag(track.album.images.first["url"], size: "100x100")%> <%= i %>. <%= track.name %> - <%= track.album.name %><br>
  <% end %>
</p>