<h1><%= @artist.name %></h1>
<p>
  <%= image_tag(@artist.image_url, size: "300x300") %><p>
  <%= link_to "Spotify Page", @artist.profile_url  %><br>
  <% if @found_artist_user %>
    <%= form_for(@found_artist_user, :html => { :method => :delete }) do |f| %>
        <%= f.submit "Unfollow", :class => 'btn' %>
    <% end %>
  <% else %>
    <%= form_for(@artist_user) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :artist_id, :value => @artist.id %>
        <%= f.submit "Follow", :class => 'btn' %>
    <% end %>
  <% end %>
</p>

<p>
</p>

<p>
  <h1>Top Spotify Tracks:</h1><br>
  <% @spotify_tracks.each do |track| %>
    <a href = "<%= track.url %>"><%= image_tag(track.image_url, size: "50x50") %> <%= track.artist.name %> - <%= track.name %> - Released: <%= track.release_date %></a><br>
  <% end %>
</p>

<p>
  <h1>Top SoundCloud Tracks:</h1><br>
  <% @soundcloud_tracks.each do |track| %>
    <a href = "<%= track.url %>"><%= image_tag(track.image_url, size: "50x50") %> <%= track.name %> - Released: <%= track.release_date %></a><br>
  <% end %>
</p>

<%= page_entries_info @soundcloud_tracks %>
<%= will_paginate @soundcloud_tracks, :param_name => 'soundcloud_page' %>