<strong>Hi <%= @user.name %></strong>

<p>
  <strong>Artists following:</strong>
  <% @user.artists.each do |artist| %>
    <%= link_to artist.name, artist %>
  <% end %>
</p>

<p>
  <strong>Search for artist to follow: </strong>
  <%= form_tag "/search", :method => 'post' do %>
    <p>
      <%= text_field_tag "search[name]", params.has_key?("search") && params[:search].has_key?("name") ? params[:search][:name] : "" %>
      <%= submit_tag " Search Artist Database" %>
    </p>
  <% end %>
</p>
<%= @artist_searched %>