<strong>Welcome, <%= @user.name %>.</strong>
<p>
<br>
  <strong>Artists being followed:</strong><br>
  <% @user.artists.each do |artist| %>
    <%= link_to artist.name, artist %>
  <% end %>
</p>
<br>
<p>
  <strong>Recent tracks from all followed artists from Spotify:</strong><br>
  <% @user.artists.each do |artist| %>
    <% RSpotify::Artist.search(artist.name).first.top_tracks("US").each.with_index(1) do |track, i| %>
      <%= image_tag(track.album.images.first["url"], size: "50x50")%> <%= i %>. <%= track.name %> - <%= track.album.name %><br>
    <% end %>
  <% end %>
</p>
<br>
<p>
  <strong>Recent tracks from all followed artists from SoundCloud:</strong><br>
  <% @user.artists.each do |artist| %>
    <% @client.get('/tracks', :q => "#{artist.name}", :licence => 'cc-by-sa').each.with_index(1) do |track, i| %>
      <%= image_tag(track.artwork_url, size: "50x50") %> <%= i %>. <%= track.title %> Plays: <%= track.playback_count %><br>
    <% end %>
  <% end %>
</p>