<strong>Hi <%= @user.name %></strong>

<p>
  <strong>Artists following:</strong><br>
  <% @user.artists.each do |artist| %>
    <%= link_to artist.name, artist %><br>
  <% end %>
</p>

<p>
  <strong>Recent tracks from all artists from Spotify:</strong><br>
  <% @user.recent_spotify_tracks.each do |number, track| %>
    <%= image_tag(track["image_url"], size: "50x50")%> <%= number %>. <%= track["artist_name"] %> - <%= track["track_name"] %> - <%= track["album_name"] %><br>
  <% end %>
</p>

<p>
  <strong>Top tracks from all artists from Spotify:</strong><br>
  <% @user.spotify_tracks.each do |number, track| %>
    <%= image_tag(track["image_url"], size: "50x50")%> <%= number %>. <%= track["artist_name"] %> - <%= track["track_name"] %> - <%= track["album_name"] %><br>
  <% end %>
</p>

<p>
  <strong>Top tracks from all artists from SoundCloud:</strong><br>
  <% @user.soundcloud_tracks.each do |number, track| %>
    <%= image_tag(track["image_url"], size: "50x50") %> <%= number %>, <%= track["track_name"] %><br>
  <% end %>
</p>