Thank you for logging into Spotify, <%= @spotify_user.display_name %>. Your associated email with this account is: <%= @spotify_user.email %> and you have <%= @spotify_user.followers.total %> followers.
<br>
<br>
Search for an artist:

<%= form_tag "/static_pages/index", :method => 'post' do %>
  <p>
    <%= text_field_tag "search[name]", params.has_key?("search") && params[:search].has_key?("name") ? params[:search][:name] : "" %>
    <%= submit_tag " Search Artist Database" %>
  </p>
<% end %>


